*{
	font-family:Tahoma;
}
h1{
	text-align: :center;
}

ul{
	text-align: center;
}

#nav{
	background-color:#226ddf;
	padding-top:3px;
	text-align: left;

}

#nav > li{
	font:30px solid Tahoma;
	display:inline-block;
	margin-left:15px;
	width:100px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	list-style: none;
}

#input{
	text-align: center;
}

#nav > li:hover{
	background-color:white;
}

.data{
	margin-bottom: 5px;
	padding:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	text-decoration: none;
	background-color: #22ddff;
	width:300px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
img{
	
}
.name{
	padding:0px;
	font-family: Tahoma;
	display: inline-block;
	color:blue;
}
.options{
	display:none;
	margin-top:3px;
}
.data:hover .options{
	display:block;
}