*{
	font-family:Arial;
}
h1{
	text-align: :center;
}

ul{
	text-align: center;
}

#nav{
	background-color:#226ddf;
	padding-top:3px;
	text-align: left;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;

}

#nav > li{
	font:30px solid Arial;
	display:inline-block;
	margin-left:15px;
	width:100px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	list-style: none;
}

#input{
	text-align: center;
}

#nav > li:hover{
	background-color:white;
}

#nav > li > a:link{
	text-decoration: none;
}

.data{
	margin-bottom: 5px;
	padding:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	text-decoration: none;
	background-color: #22ddff;
	width:300px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
img{
	
}
.name{
	padding:0px;
	font-family: Arial;
	display: inline-block;
	color:blue;
}
.options{
	display:none;
	margin-top:3px;
}
.data:hover .options{
	display:block;
}

#errorm{
	text-align :center;
	font:25px bold Arial;
	color:red;
}

#header{
	text-align :center;
	font:30px bold Arial;
	color:red;
	background-color: #eeaa88;
	width:500px;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}

#listh{
	font:25px bold Arial;
	color:blue;
}

.info{
	width:33%;
	margin-left: auto;
	margin-right: auto;
	display:block;
	background-color: #eeffaa;
	font:20px bold Arial;
	color:blue;
	border-radius: 10px;
	padding:2px;
}
.info > input{
	width:100%;
}
.info > lable,.info>button{
	display:block;

}

.err{
	color:red;
}